<div class="container-fluid">
    <div class="col-6 mx-auto">
        <h4 class="text-success">Contact App</h4>
        <input type="text" class="form-control my-2 shadow-none" placeholder="Enter your name" [(ngModel)]="name">
        <input type="text" class="form-control my-2 shadow-none" placeholder="Enter your phonenumber" [(ngModel)]="phonenumber">
        <input type="text" class="form-control my-2 shadow-none" placeholder="Enter your email" [(ngModel)]="email">
        <input type="text" class="form-control my-2 shadow-none" placeholder="Enter your address" [(ngModel)]="address">
        <button class="btn btn-success w-100 p-2 mb-3" (click)="createcontact()">Create Contact</button>
    </div>
</div>
<div *ngFor="let user of this.contactarray, let i=index">
    <p>{{i+1}}</p>
    <p>{{user.name}}</p>
    <p>{{user.pnumber}}</p>
    <p>{{user.email}}</p> 
    <p>{{user.add}}</p>
    <div class="flex ms-2 mb-3">
        <button type="button" class="btn btn-primary me-4" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editContact(i)">Edit</button>
        <button (click)="del(i)" class="btn btn-danger">Delete</button>
    </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-success" id="exampleModalLabel">Edit Here</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input type="text" class="form-control my-2 shadow-none" placeholder="Enter your name" [(ngModel)]="nametwo">
            <input type="text" class="form-control my-2 shadow-none" placeholder="Enter your phonenumber" [(ngModel)]="phonenumbertwo">
            <input type="text" class="form-control my-2 shadow-none" placeholder="Enter your email" [(ngModel)]="emailtwo">
            <input type="text" class="form-control my-2 shadow-none" placeholder="Enter your address" [(ngModel)]="addresstwo">
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="contactUpdate()">Save changes</button>
        </div>
      </div>
    </div>
  </div>