<div>
  <p>{{username}}</p>
  <p>{{num}}</p>
  <p>{{isAdmin}}</p>

  <!-- Conditional rendering -->
  @if(isAdmin){
    <p>You are permitted!</p>
  }
  @else {
    <p>You are not permitted!!</p>
  }

  <!-- Loop rendering -->

   <p>{{users[1]}}</p>

   @for (user of users; track user) {
    <p>{{$index + 1}}</p>
      <p>{{user}}</p>
   }

   @for(student of students; track student.id) {
      <p>{{student.id}}</p>
      <p>{{student.name}}</p>
      <p>{{student.dep}}</p>
   } 
</div>
<div>       
   <!-- Binding -->
   <!-- One_way binding -->
    <a [href]="link">Click Me</a>

    <input type="checkbox" name="terms" [(ngModel)]="terms">
    <label for="">I agree to the terms and conditions</label>
    <button [disabled]="!terms">Click</button>


    <app-home></app-home>
</div>

<router-outlet></router-outlet>